.header {
    background-color: #4A4459;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;

}

.header-container {
    width: 100%;
    padding-left: 30px;
    margin-top: 15px;
    max-width: 70%;
}

.title {
    color: aliceblue;
    font-size: 30px;
    height: 40px;
    font-weight: 600;
}

.header-items {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.usual {
    border: none;
    background: #4A4459;
    color: aliceblue;
    font-size: medium;
    font-weight: 500;
    font-family: 'Raleway';
    margin: 20px 20px;
    width: 110px;
    cursor: pointer;
}

.log-in {
    border-radius: 10px;
    border: 0px solid aliceblue;
    color: #000000;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    margin: 20px 20px;
    width: 110px;
    font-family: 'Raleway';
}